#section3 {
  width: 100%;
  height: 100vh;
  position: relative;
}

#section3 .contents3 {
  position: relative;
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

#section3 .contents3 .cont__box {
  position: relative;
  max-width: 1280px;
  height: 50%;
  max-height: 719px;
  width: 70%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#section3 .hidden__img {
  position: absolute;
  display: none;
  background-image: url(../../img/section3bg.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

#section3 .contents3 .text1 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-family: var(--section3);
  font-size: 7.3vw;
  z-index: 1;
}

#section3 .contents3 .text2 {
  opacity: 0;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
  color: var(--white);
  font-family: var(--section3);
  font-size: 6.25vw;
  z-index: 1;
}

.contents3 .desc {
  opacity: 0;
  position: absolute;
  text-align: left;
  left: -20px;
  bottom: -20px;
  transform: translateY(100%);
  font-family: var(--korfont);
  font-weight: 200;
  color: var(--white);
}
