#skill {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.skill__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/skillbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  opacity: 0.5;
}

.skill__inner {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.skill__inner .left {
  width: 30%;
  height: 100%;
}
.skill__inner .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.skill__inner .right {
  width: 70%;
  height: 70%;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: var(--engfont);
}
.skill__inner .right .skills {
  width: 50%;
  padding: 15px;
}
.skill__inner .right .skills .title {
  font-size: 20px;
}
.skill__inner .right .skills .desc {
  font-family: var(--korfont);
}
.skill__inner .right .skills .btn {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.skill__inner .right .skills .btn a {
  padding: 10px 15px;
  background-color: #27272760;
  text-transform: uppercase;
  line-height: 1;
}
