#section5 {
  width: 100%;
  height: 100vh;
}

#section5 .contents5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#section5 .contents5 .cont__box {
  position: relative;
  max-width: 1920px;
  width: 100%;
}

#section5 .contents5 .text1 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-family: var(--section5);
  font-size: 7.3vw;
}

#section5 .contents5 .text2 {
  opacity: 0;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  color: var(--white);
  font-family: var(--section5);
  font-size: 7.3vw;
}

.contents5 .desc {
  width: 500px;
  opacity: 0;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-family: "NanumSquareNeo";
  font-weight: 200;
  color: var(--white);
  word-break: keep-all;
}

@media (max-width: 1200px) {
  .contents5 .desc {
    width: 80%;
  }
}
