:root {
  --section2: "PP Rader";
  --section3: "PP Pangaia Bold Italic";
  --section4: "PP Right Didone Compact Dark";
  --section5: "PP Neue World Extended";

  --minifont: "Poppins", sans-serif;
  --korfont: "nanumSquareNeo";
  --engfont: "gmarket";

  --title-color: #e93f33;
  --title-color2: #868686;
  --bgcolor: #000;
  --red: #ce0000;
  --navy: #121931;
  --gray: #b8bac1;
  --black: #000;
  --white: #fff;

  /* 폰트 셋팅 */
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* 폰트 최적화 */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
}
