body {
  background: var(--bgcolor);
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#main {
  display: flex;
  gap: 40vh;
  flex-direction: column;
  position: relative;
  background-color: var(--bgcolor);
}

#main::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url(https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif);
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.02;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  visibility: visible;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: var(--engfont);
  color: var(--white);
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #0a0a0a 0.01px,
    #000000 0.01px,
    #000000 0.01px
  );
  filter: noise(0.1);
}
#section2 {
  margin-top: 20vh;
}
.container {
  width: 1280px;
  margin: 0 auto;
  height: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.mouse__cursor {
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.cursor2 {
  width: 100%;
  height: 100%;
  background-color: #ff6a60c4;
  filter: blur(7px);
  clip-path: circle(50% at center);
}

.cursor-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: var(--section1);
}
