/* sub */
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

/* minifont */
@import url("https://fonts.cdnfonts.com/css/poppins");

@font-face {
  font-family: "PP Rader";
  src: url("../../fonts/PPRader-Thin.woff2") format("woff2"),
    url("../../fonts/PPRader-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Pangaia Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Pangaia Bold Italic"),
    url("../../fonts/PPPangaia-BoldItalic-BF654c530c8d2fa.woff") format("woff");
}

@font-face {
  font-family: "PP Neue World Extended";
  src: url("../../fonts/PPNeueWorld-ExtendedThin.woff2") format("woff2"),
    url("../../fonts/PPNeueWorld-ExtendedThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Right Didone Compact Dark";
  src: url("../../fonts/PPRightDidone-CompactDark.woff2") format("woff2"),
    url("../../fonts/PPRightDidone-CompactDark.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
